/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.feedbackButton {
  position: fixed;
  top: 40%;
  left: 100%;
  transform-origin: top left;
  transform: rotate(90deg);
}

.mapButton {
  position: fixed;
  top: 95%;
  left: 95%;
  //transform-origin: top left;
  //transform: rotate(90deg);
}
