@use '../../../../libs/tokens/src/lib/variables.scss' as vars;

.loading_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 16px;
  width: 100%;
}

%skeleton {
  font-size: vars.$font-size-large;
  padding: 8px 6px;
}

.parent_skeleton {
  @extend %skeleton;
  width: 100%;
}

.child_skeleton {
  @extend %skeleton;
  width: 90%;
}
