@use './variables.scss' as vars;

.base_nav_div {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  padding: 8px;
  border-width: 1px;
  border-color: vars.$fg_color;
  border-style: solid;
}

.base_page_content {
  margin: 0;
  padding: 8px;
}
