// Font Styles
$font-size-large: 24px;

// Layout
$app-bar-height: 56px;

// Borders
$border-width-layout-lines: 1px;
$border-color-layout-lines: rgba(0, 0, 0, 0.12);
$border-color-layout-lines-hover: rgba(0, 0, 0, 0.24);

// Colors
$color-primary: rgb(25, 118, 210);
$color-background: white;
